<!DOCTYPE html>
<html>
<head>
  <title>Night Owl V3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Night Owl", root_path, class: "navbar-brand" %>
				 
			</div>
			<% if user_signed_in? %>
				<p> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-text navbar-link navbar-right" %>
				<%= link_to "Create New Group", new_message_path, class: "navbar-text navbar-link navbar-right" %>
				<%= link_to current_user.email, edit_user_registration_path, class: "navbar-text navbar-link navbar-right" %></p>
			<% else %>
					<p><%= link_to "Sign Up", new_user_registration_path, class: "navbar-text navbar-link navbar-right" %>
					<%= link_to "Log In", new_user_session_path, class: "navbar-text navbar-link navbar-right" %>
					<%= link_to "About us", about_index_path, class: "navbar-text navbar-link navbar-right" %></p>
			<% end %>
		</div>
	</nav>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
