<body class="studyImage2">
	
<div class="col-md-8 col-md-offset-2">
	<div class="message-show">
		<h2><%= @message.title %></h2>
		<p class="message-posted-by">Posted by <%= time_ago_in_words(@message.created_at) %> ago</p>
		<p class="message-location"> Location: <%= @message.location %> </p>
		<p class="message-desc">Description: </br><%= @message.description %></p>

		<!-- Add a Posted By: username at timestamp. -->

		<h3 class="comment-section-header">Messages:</h3>
		<!-- renders the _comment.html.erb partial file. -->
		<p><%= render @message.comments %></p>
	<% if user_signed_in? %>
		<h3 class="reply-to-msg">Reply to Message:</h3>
		<!-- renders the comments form -->
		<%= render 'comments/form' %>

		<% else %>
			<%="Please sign in to reply."%></br>
			<%= link_to "Sign in", new_user_session_path %>
	<% end %></br>


		<!-- Add a conditional so that the 'edit' and 'destroy' links only appear for the user who created the message. -->
		<div class="links btn-group">
			<%= link_to "Back", root_path, class: "btn btn-default" %>
		<% if user_signed_in? %>
			<% if @message.user_id == current_user.id %>
				<%= link_to "Edit", edit_message_path(@message), class: "btn btn-default" %>
				<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
			<% end %>
		<% end %>
		</div>
	</div>
</div>

</body>
